body {
  background-color: #97B8DB;
}

.app {
  background-color: white;
  margin: 20px auto;
  width: 400px;
  min-height: 80vh;
}


.container {
  display: flex;
  justify-content: center;
}


ul,
li {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

ul {
  margin: 0 10% 0 10%;
  overflow: hidden;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
  word-break: break-all
}

li:hover {
  cursor: pointer;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.add {
  background-color: #839d42;
  margin-top: 5px;
}

.delete {
  background-color: #E7262C;
  margin-bottom: 5px;

}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #F8F988;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.btn {
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  width: 75%;

}

.btn:hover {
  cursor: pointer;
}

input {
  width: 75%;
  border: solid 1px grey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}

input:hover {
  cursor: pointer;
}

img {
  border-radius: 50%;
}

.imgClock {
  margin: 10px;
}

.imgMan {
  margin-top: 15px;
}